@charset "utf-8";

/* ν—¤λ” */
#wrap {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background-color: #F3EEE8;
}

.container {
        height: 100%;
        margin: 0 7%;
}


header {
        width: 100%;
        height: 100vh;
        margin: 0 auto;

}

#topbar {
        width: 100%;
        height: 15%;
}

#logo {
        float: left;
        margin-top: 30px;
}

#hambuger {
        width: 53px;
        height: 20px;
        margin: 0 auto;
        padding-top: 40px;
        position: relative;
}

#hambuger .line {
        display: block;
        margin: auto;
        transition: all 1s ease-in-out;
}

.line:nth-child(1) {
        transform: translate(49px, 27px) rotate(135deg);
}

.line:nth-child(2) {
        transform: rotate(-135deg) translate(-79px, -26px);
}

.hamnav {
        width: 1500px;
        height: 100px;
        /* background-color: turquoise; */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

.hamnav ul {
        display: flex;
        justify-content: center;
}

.hamnav li {
        font-size: 2em;
        margin: 6px 30px;
}

#menu li {
        float: right;
        margin: 0px 10px;
        font-family: 'PretendardRegular';
}

#menu li span {
        color: #F3EEE8;
        font-weight: bold;
}

#menu .round {
        float: right;
        background-color: #1A1A1A;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
}

#menu .round a {
        text-align: center;
}



/* ν‘Έν„° */
footer {
        height: 400px;
        background-color: #1A1A1A;
        position: relative;
}

.biglogo1 {
        color: #3E3E40;
        font-size: 4em;
        font-weight: bold;
        float: left;
        position: absolute;
        top: 243px;
        left: 70px;

}

.biglogo2 {
        color: #3E3E40;
        font-size: 6em;
        font-weight: bold;
        position: absolute;
        top: 292px;
        left: 870px;
}




.infotext {
        color: #c2c2c2;
        width: 350px;
        display: flex;
        margin-left: -110px;
}

.infotext li {
        padding: 5px;
        font-size: 0.8em;
        font-family: 'PretendardRegular';
}

.fbox {
        padding: 60px 0 0 50px;
}






.flogo img {
        float: right;
        width: 188px;
        height: 44px;
        margin: -103px 80px 0 0;
}

.flogo p {
        float: right;
        font-size: 1em;
        color: #3E3E40;
        width: 500px;
        height: 30px;
        font-family: 'PretendardRegular';
        margin: -44px 73px 0px 0px;
}