@charset "utf-8";

@media (min-width: 1835px) {

        /* 헤더 */
        #wrap {
                width: 100%;
                height: auto;
                margin: 0 auto;
                background-color: #F3EEE8;
        }

        .container {
                height: 100%;
                margin: 0 7%;
        }


        header {
                width: 100%;
                height: 100vh;
                margin: 0 auto;

        }

        #topbar {
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: space-between;
                align-items: center;
        }


        #logo {
                float: left;
        }

        #logo img {
                height: 50px;
                margin-top: -20px;
        }




        /* Hamburger */
        .hamburger {
                height: 45px;
                margin-top: -25px;
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                justify-items: center;
        }

        .hamburger div {
                background-color: #1A1A1A;
                position: relative;
                width: 35px;
                height: 4px;
                margin-top: 5px;
                transition: all 0.2s ease-in-out;
                border-radius: 60px;
        }

        #toggle {
                display: none;  
        }

        #toggle:checked+.hamburger .topnav {
                transform: rotate(45deg);
                margin-top: 22.5px;
                margin-left: 900px;
                background-color: #F3EEE8;
                z-index: 999;
                position: fixed;
                
        }

        #toggle:checked+.hamburger .middlenav {
                transform: rotate(-45deg);
                margin-top: 22.5px;
                margin-left: 900px;
                background-color: #F3EEE8;
                z-index: 999;
                position: fixed;
        }

        #toggle:checked+.hamburger .bottomnav {
                transform: scale(0);
                background-color: #F3EEE8;
        }




        .menu-side {
                 position: fixed;
                 z-index: 998;
                 right: -100vw;
                 width: 30%;
                 height: 100vh;
                 background-color: #1A1A1A;
                 padding: 30px;
                 box-sizing: border-box;
                 transition: 0.5s all ease-in-out;
                 top: 0;
        }

        .show {
                right: 0;
                background-color: #1A1A1A;
                transition: 0.5s all ease-in-out;
        }

        


        .menubody {
                position: absolute;
                width: 500px;
                padding-top: 100px;
        
        }

        

        .menubody li {
                font-size: 2em;
                padding: 15px;
                color: #F3EEE8;
                font-family: 'PretendardRegular';
                font-weight: bold;
        }


        #menu {
                width: 280px;
        }

        #menu ul {
                overflow: hidden;
        }


        #menu li {
                float: right;
                margin: 60px 10px;
                font-family: 'PretendardRegular';
        }

        #menu li span {
                color: #F3EEE8;
                font-weight: bold;
                
        }

        #menu .round {
                float: right;
                background-color: #1A1A1A;
                border-radius: 50%;
                height: 90px;
                width: 90px;
                margin: 24px 13px;
                display: flex;
                justify-content: center;
                align-items: center;
        }

        #menu .round a {
                text-align: center;
        }



        /* 푸터 */
        footer {
                height: 400px;
                background-color: #1A1A1A;
                position: relative;
        }

        .biglogo1 {
                color: #3E3E40;
                font-size: 4em;
                font-weight: bold;
                float: left;
                position: absolute;
                top: 243px;
                left: 70px;

        }

        .biglogo2 {
                color: #3E3E40;
                font-size: 6em;
                font-weight: bold;
                position: absolute;
                top: 292px;
                left: 870px;
        }



        .infotext {
                color: #c2c2c2;
                width: 350px;
                display: flex;
                margin-left: -110px;
        }

        .infotext li {
                padding: 5px;
                font-size: 0.8em;
                font-family: 'PretendardRegular';
        }

        .fbox {
                padding: 60px 0 0 50px;
        }



        .flogo img {
                float: right;
                width: 188px;
                height: 44px;
                margin: -103px 80px 0 0;
        }

        .flogo p {
                float: right;
                font-size: 1em;
                color: #3E3E40;
                width: 500px;
                height: 30px;
                font-family: 'PretendardRegular';
                margin: -44px 29px 0px 0px;
        }

}

@media (min-width: 1200px) and (max-width: 1834px) {

        /* 헤더 */
        #wrap {
                width: 100%;
                height: auto;
                margin: 0 auto;
                background-color: #F3EEE8;
        }

        .container {
                height: 100%;
                margin: 0 7%;
        }


        header {
                width: 100%;
                height: 100vh;
                margin: 0 auto;

        }

        #topbar {
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: space-between;
                align-items: center;
        }


        #logo {
                float: left;
        }

        #logo img {
                height: 50px;
                margin-top: -20px;
        }




        /* Hamburger */
        .hamburger {
                height: 45px;
                margin-top: -20px;
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                justify-items: center;
        }

        .hamburger div {
                background-color: #1A1A1A;
                position: relative;
                width: 35px;
                height: 4px;
                margin-top: 5px;
                transition: all 0.2s ease-in-out;
                border-radius: 60px;
        }

        #toggle {
                display: none;  
        }

        #toggle:checked+.hamburger .topnav {
                transform: rotate(45deg);
                margin-top: 22.5px;
                margin-left: 55%;
                background-color: #F3EEE8;
                z-index: 999;
                position: fixed;
                
        }

        #toggle:checked+.hamburger .middlenav {
                transform: rotate(-45deg);
                margin-top: 22.5px;
                margin-left: 55%;;
                background-color: #F3EEE8;
                z-index: 999;
                position: fixed;
        }

        #toggle:checked+.hamburger .bottomnav {
                transform: scale(0);
                background-color: #F3EEE8;
        }




        .menu-side {
                 position: fixed;
                 z-index: 998;
                 right: -100vw;
                 width: 30%;
                 height: 100vh;
                 background-color: #1A1A1A;
                 padding: 30px;
                 box-sizing: border-box;
                 transition: 0.5s all ease-in-out;
                 top: 0;
        }

        .show {
                right: 0;
                background-color: #1A1A1A;
                transition: 0.5s all ease-in-out;
        }

        


        .menubody {
                position: absolute;
                width: 500px;
                padding-top: 100px;
        }

        

        .menubody li {
                font-size: 1.5em;
                padding: 15px;
                color: #F3EEE8;
                font-family: 'PretendardRegular';
                font-weight: bold;
        }


        #menu {
                width: 280px;
        }

        #menu ul {
                overflow: hidden;
        }


        #menu li {
                float: right;
                margin: 60px 10px;
                font-family: 'PretendardRegular';
        }

        #menu li span {
                color: #F3EEE8;
                font-weight: bold;
                
        }

        #menu .round {
                float: right;
                background-color: #1A1A1A;
                border-radius: 50%;
                height: 90px;
                width: 90px;
                margin: 24px 13px;
                display: flex;
                justify-content: center;
                align-items: center;
        }

        #menu .round a {
                text-align: center;
        }

        

 






        /* 푸터 */
        footer {
                height: 400px;
                background-color: #1A1A1A;
                position: relative;
        }

        .biglogo1 {
                color: #3E3E40;
                font-size: 2.6em;
                font-weight: bold;
                float: left;
                position: absolute;
                top: 284px;
                left: 38px;
        }

        .biglogo2 {
                color: #3E3E40;
                font-size: 5em;
                font-weight: bold;
                position: absolute;
                top: 300px;
                left: 550px;
        }




        .infotext {
                color: #c2c2c2;
                width: 350px;
                display: flex;
                margin-left: -100px;
        }

        .infotext li {
                padding: 5px;
                font-size: 0.8em;
                font-family: 'PretendardRegular';
        }

        .fbox {
                padding: 60px 0 0 50px;
        }


        .flogo img {
                float: right;
                width: 150px;
                margin: -103px 55px 0 0;
        }

        .flogo p {
                float: right;
                font-size: 0.8em;
                color: #3E3E40;
                width: 400px;
                height: 30px;
                font-family: 'PretendardRegular';
                margin: -49px 10px 0px 0px;
                float: right;
        }
}




@media (min-width: 690px) and (max-width: 1199px) {

        /* 헤더 */
        #wrap {
                width: 100%;
                height: auto;
                margin: 0 auto;
                background-color: #F3EEE8;
        }

        .container {
                height: 100%;
                margin: 0 7%;
        }


        header {
                width: 100%;
                height: 100vh;
                margin: 0 auto;

        }

        #topbar {
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: space-between;
                align-items: center;
        }


        #logo {
                float: left;
        }

        #logo img {
                height: 50px;
                margin-top: -20px;
        }




        /* Hamburger */
        .hamburger {
                height: 45px;
                margin-top: -20px;
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                justify-items: center;
        }

        .hamburger div {
                background-color: #1A1A1A;
                position: relative;
                width: 35px;
                height: 4px;
                margin-top: 5px;
                transition: all 0.2s ease-in-out;
                border-radius: 60px;
        }

        #toggle {
                display: none;  
        }

        #toggle:checked+.hamburger .topnav {
                transform: rotate(45deg);
                margin-top: 22.5px;
                margin-left: 20%;
                background-color: #F3EEE8;
                z-index: 999;
                position: fixed;
                
        }

        #toggle:checked+.hamburger .middlenav {
                transform: rotate(-45deg);
                margin-top: 22.5px;
                margin-left: 20%;;
                background-color: #F3EEE8;
                z-index: 999;
                position: fixed;
        }

        #toggle:checked+.hamburger .bottomnav {
                transform: scale(0);
                background-color: #F3EEE8;
        }




        .menu-side {
                 position: fixed;
                 z-index: 998;
                 right: -100vw;
                 width: 50%;
                 height: 100vh;
                 background-color: #1A1A1A;
                 padding: 30px;
                 box-sizing: border-box;
                 transition: 0.5s all ease-in-out;
                 top: 0;
        }

        .show {
                right: 0;
                background-color: #1A1A1A;
                transition: 0.5s all ease-in-out;
        }

        


        .menubody {
                position: absolute;
                width: 500px;
                padding-top: 100px;
        }

        

        .menubody li {
                font-size: 1.5em;
                padding: 15px;
                color: #F3EEE8;
                font-family: 'PretendardRegular';
                font-weight: bold;
        }


        #menu {
                width: 280px;
        }

        #menu ul {
                overflow: hidden;
        }


        #menu li {
                float: right;
                margin: 60px 10px;
                font-family: 'PretendardRegular';
        }

        #menu li span {
                color: #F3EEE8;
                font-weight: bold;
                
        }

        #menu .round {
                float: right;
                background-color: #1A1A1A;
                border-radius: 50%;
                height: 90px;
                width: 90px;
                margin: 24px 13px;
                display: flex;
                justify-content: center;
                align-items: center;
        }

        #menu .round a {
                text-align: center;
        }






        /* 푸터 */
        footer {
                height: 400px;
                background-color: #1A1A1A;
                position: relative;
        }

        .biglogo1 {
                color: #3E3E40;
                font-size: 2em;
                font-weight: bold;
                float: left;
                position: absolute;
                top: 284px;
                left: 38px;
        }

        .biglogo2 {
                color: #3E3E40;
                font-size: 2.5em;
                font-weight: bold;
                position: absolute;
                top: 316px;
                left: 432px;
        }




        .infotext {
                color: #c2c2c2;
                width: 350px;
                display: flex;
                margin-left: -65px;
        }

        .infotext li {
                padding: 5px;
                font-size: 0.8em;
                font-family: 'PretendardRegular';
        }

        .fbox {
                padding: 60px 0 0 50px;
        }


        .flogo img {
                float: right;
                width: 150px;
                margin: -340px 50px 0 0;
        }

        .flogo p {
                float: left;
                font-size: 0.5em;
                color: #3E3E40;
                width: 500px;
                height: 30px;
                font-family: 'PretendardRegular';
                margin: -35px 0px 20px 38px;
        }
}

@media (min-width: 350px) and (max-width: 689px) {

        /* 헤더 */
        #wrap {
                width: 100%;
                height: auto;
                margin: 0 auto;
                background-color: #F3EEE8;
        }

        .container {
                height: 100%;
                margin: 0 7%;
        }


        header {
                width: 100%;
                height: 600px;
                margin: 0 auto;

        }

        #topbar {
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: space-between;
                align-items: center;
        }


        #logo {
                float: left;
        }

        #logo img {
                height: 50px;
                margin-top: 25px;
        }




        /* Hamburger */
        .hamburger {
                height: 45px;
                margin-top: 25px;
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                justify-items: center;
        }

        .hamburger div {
                background-color: #1A1A1A;
                position: relative;
                width: 35px;
                height: 4px;
                margin-top: 5px;
                transition: all 0.2s ease-in-out;
                border-radius: 60px;
        }

        #toggle {
                display: none;  
        }

        #toggle:checked+.hamburger .topnav {
                transform: rotate(45deg);
                margin-top: 22.5px;
                margin-left: 0%;
                background-color: #F3EEE8;
                z-index: 999;
                position: fixed;
                
        }

        #toggle:checked+.hamburger .middlenav {
                transform: rotate(-45deg);
                margin-top: 22.5px;
                margin-left: 0%;;
                background-color: #F3EEE8;
                z-index: 999;
                position: fixed;
        }

        #toggle:checked+.hamburger .bottomnav {
                transform: scale(0);
                background-color: #F3EEE8;
        }




        .menu-side {
                 position: fixed;
                 z-index: 998;
                 right: -100vw;
                 width: 50%;
                 height: 100vh;
                 background-color: #1A1A1A;
                 padding: 30px;
                 box-sizing: border-box;
                 transition: 0.5s all ease-in-out;
                 top: 0;
        }

        .show {
                right: 0;
                background-color: #1A1A1A;
                transition: 0.5s all ease-in-out;
        }

        


        .menubody {
                position: absolute;
                width: 500px;
                padding-top: 100px;
        }

        

        .menubody li {
                font-size: 1.5em;
                padding: 15px;
                color: #F3EEE8;
                font-family: 'PretendardRegular';
                font-weight: bold;
        }


        #menu {
                width: 280px;
                display: none;
        }

        #menu ul {
                overflow: hidden;
        }


        #menu li {
                float: right;
                margin: 60px 10px;
                font-family: 'PretendardRegular';
        }

        #menu li span {
                color: #F3EEE8;
                font-weight: bold;
                
        }

        #menu .round {
                float: right;
                background-color: #1A1A1A;
                border-radius: 50%;
                height: 90px;
                width: 90px;
                margin: 24px 13px;
                display: flex;
                justify-content: center;
                align-items: center;
        }

        #menu .round a {
                text-align: center;
        }







        /* 푸터 */
        footer {
                height: 400px;
                background-color: #1A1A1A;
                position: relative;
        }

        .biglogo1 {
                color: #3E3E40;
                font-size: 1.5em;
                font-weight: bold;
                float: left;
                position: absolute;
                top: 300px;
                left: 40px;
        }

        .biglogo2 {
                color: #3E3E40;
                font-size: 1.8em;
                font-weight: bold;
                position: absolute;
                top: 322px;
                left: 335px;
        }




        .infotext {
                color: #c2c2c2;
                width: 300px;
                display: flex;
        }

        .infotext li {
                padding: 4px;
                font-size: 0.5em;
                font-family: 'PretendardRegular';
                margin-right: 50px;
        }

        .fbox {
                padding: 50px 0 0 0px;
        }


        .flogo img {
                float: left;
                width: 100px;
                margin: -140px 0px 0 40px;
        }

        .flogo p {
                float: left;
                font-size: 0.3em;
                color: #3E3E40;
                width: 300px;
                height: 30px;
                font-family: 'PretendardRegular';
                margin: -40px 0px 20px 38px;
        }
}

@media (max-width: 349px) {

        /* 헤더 */
        #wrap {
                width: 100%;
                height: auto;
                margin: 0 auto;
                background-color: #F3EEE8;
        }

        .container {
                height: 100%;
                margin: 0 7%;
        }


        header {
                width: 100%;
                height: 600px;
                margin: 0 auto;

        }

        #topbar {
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: space-between;
                align-items: center;
        }


        #logo {
                float: left;
        }

        #logo img {
                height: 35px;
                margin-top: 10px;
        }




        /* Hamburger */
        .hamburger {
                height: 35px;
                margin-top: 10px;
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                justify-items: center;
        }

        .hamburger div {
                background-color: #1A1A1A;
                position: relative;
                width: 30px;
                height: 4px;
                transition: all 0.2s ease-in-out;
                border-radius: 60px;
        }

        #toggle {
                display: none;  
        }

        #toggle:checked+.hamburger .topnav {
                transform: rotate(45deg);
                margin-top: 22.5px;
                margin-left: 0%;
                background-color: #F3EEE8;
                z-index: 999;
                position: fixed;
                
        }

        #toggle:checked+.hamburger .middlenav {
                transform: rotate(-45deg);
                margin-top: 22.5px;
                margin-left: 0%;;
                background-color: #F3EEE8;
                z-index: 999;
                position: fixed;
        }

        #toggle:checked+.hamburger .bottomnav {
                transform: scale(0);
                background-color: #F3EEE8;
        }




        .menu-side {
                 position: fixed;
                 z-index: 998;
                 right: -100vw;
                 width: 100%;
                 height: 100vh;
                 background-color: #1A1A1A;
                 padding: 30px;
                 box-sizing: border-box;
                 transition: 0.5s all ease-in-out;
                 top: 0;
        }

        .show {
                right: 0;
                background-color: #1A1A1A;
                transition: 0.5s all ease-in-out;
        }

        


        .menubody {
                position: absolute;
                width: 500px;
                padding-top: 100px;
        }

        

        .menubody li {
                font-size: 1.5em;
                padding: 15px;
                color: #F3EEE8;
                font-family: 'PretendardRegular';
                font-weight: bold;
        }


        #menu {
                width: 280px;
                display: none;
        }

        #menu ul {
                overflow: hidden;
        }


        #menu li {
                float: right;
                margin: 60px 10px;
                font-family: 'PretendardRegular';
        }

        #menu li span {
                color: #F3EEE8;
                font-weight: bold;
                
        }

        #menu .round {
                float: right;
                background-color: #1A1A1A;
                border-radius: 50%;
                height: 90px;
                width: 90px;
                margin: 24px 13px;
                display: flex;
                justify-content: center;
                align-items: center;
        }

        #menu .round a {
                text-align: center;
        }




        /* 푸터 */
        footer {
                height: 400px;
                background-color: #1A1A1A;
                position: relative;
        }

        .biglogo1 {
                color: #3E3E40;
                font-size: 1em;
                font-weight: bold;
                float: left;
                position: absolute;
                top: 307px;
                left: 30px;
        }

        .biglogo2 {
                color: #3E3E40;
                font-size: 1.3em;
                font-weight: bold;
                position: absolute;
                top: 322px;
                left: 225px;
        }




        .infotext {
                color: #c2c2c2;
                width: 300px;
                display: flex;
                margin: 0 auto;

        }

        .infotext li {
                padding: 4px;
                font-size: 0.5em;
                font-family: 'PretendardRegular';
                margin-right: 30px;
        }

        .fbox {
                padding: 50px 0 0 0px;
        }


        .flogo img {
                float: left;
                width: 100px;
                margin: -140px 0px 0 30px;
        }

        .flogo p {
                float: left;
                font-size: 0.1em;
                color: #3E3E40;
                width: 280px;
                height: 30px;
                font-family: 'PretendardRegular';
                margin: -50px 0px 20px 30px;
        }
}