@charset "utf-8";



#slider {
        background-color: #1A1A1A;
        height: 1100px;
        margin: 0 auto;
}

.text1 {
        color: #F3EEE8;
        font-size: 2em;
        padding: 130px 0 0px 100px;
}

.text2 {
        color: #9585A0;
        font-size: 4em;
        padding: 10px 0 10px 100px;
}

.text3 {
        color: #F3EEE8;
}

.text3 .e {
        float: right;
        font-size: 3em;
        width: 500px;
        margin: 132px 184px 0 0;
        padding: 20px;
}

.text3 .k {
        float: right;
        font-size: 1.5em;
        width: 300px;
        margin: 227px -340px 0 0;
        padding: 20px;
}

#slider img {
        width: 675px;
        height: 523px;
        margin: 50px 0 0 100px;
}

.click {
        float: right;
        display: flex;
        margin: -200px 454px 0px 0;
}

.arrow {
        border: 1px solid #F3EEE8;
        padding: 22px;
        text-align: center;
        color: #F3EEE8;
        background-color: #1A1A1A;
}

.play {
        border: 1px solid #F3EEE8;
        padding: 21px 50px 20px 50px;
        font-size: 1.5em;
        color: #F3EEE8;
        background-color: #1A1A1A;
        font-family: 'Ethereal Demo Font';
}

.click:hover {
        background-color: #F3EEE8;
        cursor: pointer;
}









#section {
        height: auto;
}

.page1 {
        display: flex;
}

.toptitle {
        height: 1300px;
        width: 850px;
}

.first {
        height: 50px;
        width: 500px;
        float: left;
        font-size: 2em;
        margin: 10px 0 0 0;
        padding: 80px 0 0 0;
}

.second {
        height: 350px;
        width: 800px;
        float: left;
        font-size: 5em;
        margin: 0px 0 0 0;
}

.third {
        height: 900px;
        width: 600px;
        float: left;
        font-size: 1.5em;
        margin: 20px 0 0 163px;
        font-family: 'NanumMyeongjoOTF';
        text-align: justify;
        line-height: 2em;
}

.monet {
        overflow: hidden;
        position: relative;
        width: 525px;
        height: 910px;
        align-self: center;
        left: 17%;
}

.half1 {
        width: 500px;
        height: 900px;
        border-radius: 500px 0 0 500px;
        border: 2px solid #9585A0;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
}

.page1 .half2 {
        width: 400px;
        height: 800px;
        border-radius: 500px 0 0 500px;
        background-color: palegreen;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
}

.page1 .half2 img {
        height: 100%;
        float: right;
}

.smallround1 {
        width: 35px;
        height: 35px;
        border-radius: 60%;
        background-color: #292929;
        position: absolute;
        top: 45%;
        left: 5px;
}

.smallround2 {
        width: 20px;
        height: 20px;
        border-radius: 60%;
        background-color: #292929;
        position: absolute;
        top: 1.5%;
        right: 35%;
}





.page2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;   
}

.leftbox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
}

.chagall {
        width: 506px;
        height: 639px;
        margin: 500px 0 500px 0px;
        padding-bottom: 73px;
        border-bottom: 3px solid #9585A0;
        line-height: 2em;
}

.chagall img {
        width: 506px;
        height: 639px;
}

.pissarro {
        width: 526px;
        height: 633px;
        padding-bottom: 73px;
        border-bottom: 3px solid #9585A0;
        line-height: 2em;
        display: flex;
        flex-wrap: wrap;
}

.pissarro img {
        width: 526px;
        height: 633px;
}

.rightbox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
}

.renoir {
        width: 780px;
        height: 653px;
        margin: 100px 0px 100px 0px;
        padding-bottom: 73px;
        border-bottom: 3px solid #9585A0;
        line-height: 2em;
}

.renoir img {
        width: 780px;
        height: 653px;
}

.gauguin {
        width: 701px;
        height: 456px;
        margin: 250px 0 100px 0px;
        padding-bottom: 73px;
        border-bottom: 3px solid #9585A0;
        line-height: 2em;
}

.gauguin img {
        width: 701px;
        height: 456px;
}

.dali {
        width: 750px;
        height: 628px;
        margin: 250px 0px 350px 0;
}

.dali2 {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;

}

.dali img {
        width: 542px;
        height: 628px;
        padding-bottom: 17px;
        border-bottom: 3px solid #9585A0;
        line-height: 2em;        
}

.miro {
        width: 1234px;
        height: 303px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 350px;
        padding-bottom: 73px;
        border-bottom: 3px solid #9585A0;
        line-height: 2em;
}

.miro img {
        width: 1234px;
        height: 303px;
}

.picasso {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 300px;

}

.p1 {
        width: 343px;
        height: 420px;
        padding-bottom: 20px;
        border-bottom: 3px solid #9585A0;
        line-height: 2.5em;
}

.p1 img {
        width: 343px;
        height: 420px;
}

.p2 {
        width: 320px;
        height: 420px;
        padding-bottom: 20px;
        border-bottom: 3px solid #9585A0;
        line-height: 2.5em;
}

.p2 img {
        width: 320px;
        height: 420px;
}

.p3 {
        width: 320px;
        height: 420px;
        padding-bottom: 20px;
        border-bottom: 3px solid #9585A0;
        line-height: 2.5em;
}

.p3 img {
        width: 320px;
        height: 420px;
}

.rname {
        font-size: 2em;
        float: right;
        line-height: 1em;
        margin: 12px 0;
}

.lname {
        font-size: 2em;
        float: left;
        margin: 12px 0;
}

.dname {
        font-size: 2em;
        width: 190px;
        padding-left: 20px;
        margin-bottom: 10px;
}

.textbox1 {
        font-family: 'NanumSquareNeoOTF-Rg';
        font-size: 1.7em;
        line-height: 2.5em;
}

.textbox2 {
        font-family: 'NanumSquareNeoOTF-Rg';
        font-size: 1em;
        line-height: 0em;
}

.textbox3 {
        font-family: 'NanumSquareNeoOTF-Rg';
        font-size: 1.7em;
        line-height: 1.8em;
}

.textbox4 {
        font-family: 'NanumSquareNeoOTF-Rg';
        font-size: 1em;
        line-height: 1em;
}

.bodyarrow {
        float: right;
        margin: 20px 0;
}

.bodyarrowdali {
        float: right;
        margin: 20px 210px 0 0;
}




#info {
        font-family: 'NanumSquareNeoOTF-Rg';
        width: 700px;
        height: 500px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 50px;
}


#info .top {
        font-size: 1.3em;
        font-weight: bold;
        width: 250px;
        border-bottom: solid 2px #C2C2C2;
        padding-bottom: 10px;
}

#info .bottom {
        padding: 10px 0 20px 0;
}

#info .bottom2{
        padding: 3px;
}

#info .bottom3 {
        padding: 10px 0 0 4px;
}

#info .bottom4 {
        padding: 3px 0 19px 1px;
}








#select {
        height: 713px;
        font-family: 'PretendardRegular';
}

#select .container {
        width: 75%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-top: #9585A0 3px solid;
        margin: 0 auto;
}


.navname {
        width: 10%;
        font-size: 3em;
        font-weight: bold;
       
        padding: 60px 0 20px 20px;
        text-align: left;
}

nav {
        width: 90%;
        height: 100px;
        float: right;
        margin-top: -110px;
        margin-right: -20px;
        padding-top: 30px;
}


nav li {
        float: left;
        width: 120px;
        background-color: #1A1A1A;
        border-radius: 60px;
        font-size: 1.6em;
        text-align: center;
        padding: 10px;
        margin: 0 0px 30px 50px;
        font-weight: bold;
}

nav .ch {
        width: 200px;
}

nav li a {
        color: #F3EEE8;
}

.art:not(:first-of-type) {
display: none;
}


#all {
        font-family: 'PretendardRegular';
        clear: both;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

.poster {
        padding: 20px;
}

.poster img {
        width: 293px;
        height: 293px;
}


.city {
        font-weight: bold;
        width: 300px;
        border-top: #C2C2C2 3px solid;
        margin-top: -4px;
        padding: 10px 0 10px 0;
}
.name {
        font-weight: bold;
        font-size: 1.2em;
}
.date {
        font-size: 0.8em;
        color: #C2C2C2;
        padding-top: 10px;
}

























