@charset "utf-8";

@font-face {
     font-family: 'Ethereal Demo Font';
     src: url('../fonts/Ethereal-Demo-Font-Regular.otf') format('opentype');
}

@font-face {
     font-family: 'NanumMyeongjoOTF';
     src: url('../fonts/NanumMyeongjo.otf') format('opentype');
}

     /* reset css */   
     *{margin: 0; padding: 0;}
     ul, ol, li {list-style: none;}
     a {text-decoration: none; color: #1A1A1A;}
     body {background-color: #1A1A1A; font-family: 'Ethereal Demo Font', 'NanumMyeongjoOTF'; }